mixin puzzlePart(p)
    div.puzzlepart
        a(href=p.url)
            .puzzle-number Puzzle #{p.number+1}
        if p.timeout != 0 && !p.completionTimestamp
            img(src="/assets/sad_doge.gif").sad-doge
            p Please try again in #{p.timeout}.
        else
            if (p.completionTimestamp)
                img(src="/assets/gifs/shades.gif").dogegif 
                .correct  ✓
            else
                form
                    .lock &#128274;
                    input(type="hidden", value=p.number, name="puzzleNumber")
                    input(type="text", value=p.lastGuess, name="guess")
                    br
                button#submit-answer Submit Answer
                div#feedback


